<div class="garage-container">
  <h1>Trajet <%= @trip.name %></h1>
  <%= link_to edit_trip_path(@trip) do %>
    <button class='button'>Modifier</button>
  <% end %>

  <%= link_to trip_path(@trip), method: :delete do %>
    <button class='button'>Supprimer</button>
  <% end %>
  <ol>
    <li><%= @trip.category %></li>
    <li><%= @trip.date %></li>
    <li><%= @trip.kilometers %> kms</li>
    <li>Coût consommable <%= number_to_currency(cost_usable(@trip), locale: :fr, precision: 0) %></li>
    <li>Coût entretien imputable au voyage <%= number_to_currency(maintenance_cost(@trip), locale: :fr, precision: 0) %></li>
    <li>Coût total (sans prix voiture) <%= number_to_currency((maintenance_cost(@trip) + cost_usable(@trip)), locale: :fr, precision: 0) %></li>
    <li>Coût total (avec prix voiture) <%= number_to_currency(total_cost(@trip), locale: :fr, precision: 0) %></li>
  </ol>

<%= console %>

  <%= link_to garage_car_trips_path(@trip.car.garage, @trip.car) do %>
    <button class='button'>Voir les trajets</button>
  <% end %>

  <h3>Liste des factures rattachées au trajet</h3>
  <div class="invoice-cards">
    <% @trip.invoices.each do |invoice| %>
      <div class="invoice-card">
        <i class="fa-solid <%= icons(invoice) %>"></i>
        <h6><%= invoice.name %></h6>
        <h6><%= number_to_currency(invoice.price, locale: :fr) %></h6>
      </div>
    <% end %>
  </div>
</div>
