<h1>Modifier <%= @invoice.name %></h1>

<%= simple_form_for(@invoice) do |f| %>
  <% if @car.nil? %>
    <%= f.association :car %>
  <% else %>
    <%= f.input :car_id, as: :hidden, input_html: { value: params[:format] } %>
  <% end %>
  <%= f.input :name %>
  <%= f.input :piece, collection: ['Entretien', 'Nettoyage', 'Carburant', 'Recharge', 'Péage', 'Mécanique', 'Carosserie', 'Amendes', 'Administratif']  %>
  <%= f.input :supplier, placeholder: 'Euromaster, Speedy etc.' %>
  <%= f.input :price, as: :float  %>
  <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}%>
  <%= f.input :kilometers, as: :integer %>
  <%= f.submit %>

<% end %>
