<h1>Ajouter un contrat </h1>

<%= simple_form_for(@contract) do |f| %>
  <% if @car.nil? %>
    <%= f.association :car %>
  <% else %>
    <%= f.input :car_id, as: :hidden, input_html: { value: params[:format] } %>
  <% end %>
  <%= f.input :name, hint: "Enter the street and city" %>
  <%= f.input :category, placeholder: "Assurance, Contrat d'entretien" %>
  <%= f.input :price, as: :integer %>
  <%= f.input :starting_date, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.input :ending_date, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.submit %>

<% end %>
