<div class="garage-container">
  <% if current_user.garages.count > 1 %>
    <h1>Vos <%= 'garage'.pluralize(current_user.garages) %> <%= current_user.email %></h1>
  <% else %>
    <h1>Votre <%= 'garage'.pluralize(current_user.garages) %> <%= current_user.email %></h1>
  <% end %>
  <div class="cards-garage-container">
    <% @garages.each do |garage|%>
      <%= link_to garage_path(garage) do %>
        <div class="cards-garage">
          <i class="fa-solid fa-warehouse"></i>
            <h3><%= garage.name %></h3>
            <% if garage.cars.count > 0 %>
              <h6><%= garage.cars.count %> <%= 'véhicule'.pluralize(garage.cars.count) %> </h6>
            <% else %>
              <h6>Votre garage est vide</h6>
              <%= link_to new_garage_car_path(garage) do %>
                <button class='button'>Ajouter une voiture</button>
              <% end %>
            <% end %>
            <div class="small-icon">
              <% garage.cars.each do |car| %>
                <div class="small-cards">
                  <i class="fa-solid fa-car"></i>
                  <p><%= car.model %></p>
                </div>
              <% end %>
            </div>
            <div class="icons">
              <%= link_to edit_garage_path(garage) do %>
                <i class="fa-solid fa-pencil" id="small-icon"></i>
              <% end %>
              <%= link_to garage_path(garage), method: :delete do %>
                <i class="fa-solid fa-trash-can" id="small-icon"></i>
              <% end %>
            </div>
        </div>
      <% end %>
    <% end %>
    <%= link_to new_garage_path do %>
      <div class="cards-garage">
        <i class="fa-solid fa-plus"></i>
        <h3>Créer un nouveau garage</h3>
      </div>
    <% end %>
  </div>
</div>
