<h1>Show de <%= @car.name %></h1>
<h3>Marque: <%= @car.brand %></h3>
<h3>Modèle: <%= @car.model %></h3>
<h3>kilomètres: <%= @car.kilometers %> <%= 'kilomètre'.pluralize(@car.kilometers) %></h3>
<h3>Coût entretien total: <%= number_to_currency(Invoice.where(car: @car).sum(:price), locale: :fr, precision: 0)%></h3>
<h3>Coût  total: <%= number_to_currency((Invoice.where(car: @car).sum(:price)+@car.purchased_price), locale: :fr, precision: 0)%></h3>
<h3>Prix au km: <%= number_to_currency(((Invoice.where(car: @car).sum(:price)+@car.purchased_price)/@car.kilometers), locale: :fr) %> / km</h3>
<h3><%= ownership_time %></h3>
<h3><%= @car.purchased_date %></h3>
<h3><%= Time.now %></h3>

<%= link_to edit_car_path(@car) do %>
  <button>Modifier</button>
<% end %>

<%= link_to car_path(@car), method: :delete do %>
  <button>Supprimer</button>
<% end %>

<%= link_to garage_car_invoices_path(@car.garage, @car) do %>
  <button>Voir les factures</button>
<% end %>

<%= link_to garage_car_contracts_path(@car.garage, @car) do %>
  <button>Voir les contrats</button>
<% end %>

<%= link_to garage_car_trips_path(@car.garage, @car) do %>
  <button>Voir les trajets</button>
<% end %>

<%= link_to garage_path(@garage) do %>
  <button>Retour aux garages</button>
<% end %>
